.detalleEquipo
{

  background-image: url('../res/fondo_equipos.svg');
  background-size: 100%;

}
#nav_barf{
	top: 0px;
	/*display: none;*/
	visibility: hidden;
}
#nav_barf nav{
	width: 70%;
	top: 0px;

}
#nav_barf{
	padding: 0 0 0 7.5%;
}
#nav_bar,#nav_bar nav {
	padding: 0 15% 0 15%;
	}

#nav_barf nav ,#nav_bar nav{
	border-radius: 5%; 
	background: rgba(250,0,0,0.9);
	}
